@import "flowbite";
@import "tailwindcss";

@layer base {
  html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
  body {
    @apply min-w-[360px] bg-gray-100 text-gray-800;
  }
}

@layer components {
  .container {
    @apply px-4;
  }
}

/* Swiper Navigation Arrows (Custom) */
.swiper-button-next-custom,
.swiper-button-prev-custom {
  color: #ffffff;
}

/* Swiper Pagination Dots */
.mySwiper .swiper-pagination-bullet {
  background: #888888;
  opacity: 0.7;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  border-radius: 50%; /* Make them round */
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
  width: 12px; /* Slightly larger when active */
  height: 12px;
}

/* Autoplay Progress Timer */
.autoplay-progress {
    position: absolute;
    left: 16px;
    bottom: 16px; /* bottom to top */
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #888888;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #888888;
    fill: none;
    stroke-dashoffset: calc(125.6 * (var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
