@import "flowbite";
@import "tailwindcss";

@layer base {
  html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
  body {
    @apply min-w-[360px] bg-gray-100 text-gray-800;
  }
}

@layer components {
  .container {
    @apply px-4;
  }

  /* Swiper Custom Styles */
  .custom-swiper {
    --swiper-theme-color: #ffffff;
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
  }

  .custom-swiper .swiper-pagination-bullet {
    @apply bg-white/50 opacity-100;
  }
  .custom-swiper .swiper-pagination-bullet-active {
    @apply bg-white;
  }
  .custom-swiper .swiper-button-next,
  .custom-swiper .swiper-button-prev {
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .custom-swiper:hover .swiper-button-next,
  .custom-swiper:hover .swiper-button-prev {
    opacity: 0.7;
  }
  .custom-swiper .swiper-button-next:hover,
  .custom-swiper .swiper-button-prev:hover {
    opacity: 1;
  }
}
